{%extends "base.html"%}
{% block content%}
<fieldset>
    <legend>Display Users</legend>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>CurrentLocation</th>
        <th>AccountNumber</th>
        <th>Priority</th>
        <th>Balance</th>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{user._id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.clocation}}</td>
            <td>{{user.accno}}</td>
            <td>{{user.priority}}</td>
            <td>{{user.balance}}</td>
        </tr>
    {% endfor %}
</table>
</fieldset>
 <p><a href="{{url_for('menu')}}">menu</a></p>
{% endblock %}

