<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/login.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('add_user')}}">Add Account</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{url_for('display_users')}}">Display User Accounts</a></li>
      <li><a href="{{url_for('delete_user')}}">Delete Account</a></li>
      <li><a href="{{url_for('deposit_money')}}">Deposit Money</a></li>
      <li><a href="{{url_for('withdraw_money')}}">Withdraw Money</a></li>
      <li><a href="{{url_for('logout')}}">logout</a></li>
    </ul>
  </div>
</nav>
</body>
</html>







<!--

<p><a href="{{url_for('add_user')}}">Add Account</a></p>
<p><a href="{{url_for('display_users')}}">Display User Accounts</a></p>
<p><a href="{{url_for('delete_user')}}">Delete Account</a></p>
<p><a href="{{url_for('deposit_money')}}">Deposit Money</a></p>
<p><a href="{{url_for('withdraw_money')}}">Withdraw Money</a></p>
<p><a href="{{url_for('logout')}}">logout</a></p>


-->







