body{
    
   color:blue;
   background-image: url("../images/bankpiccccc.jpeg");
   background-size: 1300px 1300px;

  background-repeat: no-repeat;
  
    }
    
fieldset{
    border-color:#8941d0;    
    }
    

